#nvbar
{
    border-bottom:5px solid grey;
}

#nvbrand
{
    font-family: 'Concert One', cursive;
    color: #223480;

}

#top
{
    background:#223480;
    color: white;
}

body{
    font-family: 'Open Sans', sans-serif;

}

#jumbo
{
    background-image: url("./geneva.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 500px;
    font-family: 'Alfa Slab One', cursive;
    margin-top: 0px;
    border-bottom: 0px;
    padding: 0px;

}

#cd
{
    background: #223480;
    color: white;
    border: orange;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.todoFooter {
    padding: 10px;
     
}

.footer {
    background-color: #223480;
    height: 180px;
    color: white;
    width: 100%;
    margin-top: 50px;
      
    }

    .footer-text {
        font-family: 'Roboto', sans-serif;
        text-align: center; 
    }

    .text-footer, .footer-signature {
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
    
#txt{
    margin-top: 20px;    
    margin-bottom: 20px;
}

#rd
{
    border-radius: 50%;
}